@font-face {
    font-family: 'WorkSans';
    src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Lora';
    src: url("../fonts/Lora-VariableFont_wght.ttf");
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

}

$fz-headlines: 8.8rem;

@mixin img_style($w, $h, $p) {
    width: $w;
    height: $h;
    position: $p;
}




/* ========================
        Header
======================== */

header {
    background-color: black;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;

    img {
        width: 200px;
        height: 0px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        transform: rotate(90deg);
        margin-bottom: 30vh;
    }


    p {
        color: white;
        font-size: 1.6rem;
        font-family: 'WorkSans';
        padding-bottom: 3%;
        padding-top: 3%;
    }

    h1 {
        color: white;
        font-size: $fz-headlines;
        font-family: 'Lora';
        line-height: 70px;
    }

    h1:nth-of-type(2) {
        color: black;
        text-shadow: 0 0 2px white;
    }

    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15vh;
        padding-bottom: 40vh;


        img {
            color: white;
            width: 5%;
            height: 5vh;
            transform: rotate(0deg);
            margin-bottom: 0;
        }

        input {
            width: 10%;
            height: 6vh;
            border: 2px solid white;
            background-color: black;
            color: white;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

/* ========================
        Main
======================== */

main {

    .section1 {
        background-color: black;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // position: relative;
        background-image: url("../img/map.svg");
        background-position: 100% 80%;
        background-repeat: no-repeat;
        background-size: 45%;

        h2 {
            font-size: $fz-headlines;
            color: white;
            width: 77%;
            font-family: 'Lora';
            padding-bottom: 20vh;
        }

        div {
            color: white;

            p {
                font-family: 'WorkSans';
                font-size: 1.6rem;
                padding-bottom: 2vh;
            }

            h3 {
                font-family: 'Lora';
                font-size: 6.4rem;
                padding-bottom: 15vh;
            }
        }
    }

    .section2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80vh;

        h2 {
            font-size: $fz-headlines;
            font-family: 'Lora';
            width: 36%;
        }

        p {
            font-family: 'WorkSans';
            font-size: 1.6rem;
            width: 36%;
            line-height: 5vh;

            &:nth-of-type(2) {
                padding-top: 100vh;
                padding-bottom: 40vh;
            }
        }

        .action1 {
            @include img_style(300px, 200px, absolute);
            right: 160px;
            top: -60px;
        }

        .action2 {
            @include img_style(240px, 160px, absolute);
            left: 40px;
            top: 470px;
        }

        .action3 {
            @include img_style(240px, 160px, absolute);
            right: 0;
            top: 880px;
        }

        .action4 {
            @include img_style(300px, 200px, absolute);
            top: 1100px;
            left: 300px;
        }

        .action5 {
            @include img_style(300px, 200px, absolute);
            top: 1200px;
            right: 300px;
        }

        .action6 {
            @include img_style(240px, 160px, absolute);
            left: 0;
            bottom: 450px;
        }

        .action7 {
            @include img_style(300px, 200px, absolute);
            right: 240px;
            bottom: -60px;
        }
    }

    .section3 {
        background-color: black;
        color: white;
        padding: 30vh 10% 0 10%;
        height: 170vh;

        article {
            display: flex;
            justify-content: flex-start;
            gap: 30%;
        }

        div:nth-of-type(1) {
            p {
                font-family: 'WorkSans';
                font-size: 1.6rem;
            }

            h2 {
                font-family: 'Lora';
                font-size: 8.8rem;
                line-height: 10vh;
                padding-top: 5vh;
            }
        }

        div:nth-of-type(2) {
            p:nth-of-type(1) {
                font-family: 'Lora';
                font-size: 3.2rem;
                width: 90%;
                line-height: 5vh;
            }

            p:nth-of-type(2) {
                font-family: 'WorkSans';
                font-size: 1.6rem;
                width: 70%;
                padding-top: 5vh;
                margin-bottom: 7vh;
            }
        }

        img:nth-of-type(1) {
            width: 703px;
            height: 703px;
            transform: translateX(50px);
        }

        img:nth-of-type(2) {
            width: 358px;
            height: 463px;
            transform: translateX(-20px);
            transform: translateY(-50px);
        }
    }

    .circle {
        position: absolute;
        width: 100%;

        img {
            position: relative;
            width: 300px;
            height: 300px;
            left: 1150px;
            bottom: 120px;
            animation: rotating 6s linear infinite;
        }

        @keyframes rotating {
            0% {
                rotate: 0;
            }

            100% {
                rotate: 1turn;
            }
        }
    }

    .section4 {
        padding-top: 30vh;
        padding: 30vh 10% 10vh 10%;

        article {
            display: flex;
            justify-content: flex-start;
            gap: 20%;
        }

        div:nth-of-type(1) {
            p {
                font-family: 'WorkSans';
                font-size: 1.6rem;
            }

            h2 {
                font-family: 'Lora';
                font-size: 8.8rem;
                line-height: 10vh;
                padding-top: 5vh;
            }
        }

        div:nth-of-type(2) {
            p:nth-of-type(1) {
                font-family: 'Lora';
                font-size: 3.2rem;
                width: 90%;
                line-height: 5vh;
            }

            p:nth-of-type(2) {
                font-family: 'WorkSans';
                font-size: 1.6rem;
                width: 70%;
                padding-top: 5vh;
                margin-bottom: 10vh;
            }
        }

        img:nth-of-type(1) {
            width: 30%;
            height: 70vh;
            transform: translateX(60px) translateY(-110px);
        }

        img:nth-of-type(2) {
            width: 60%;
            height: 100vh;
        }
    }
}


/* ========================
        Footer
======================== */


footer {

    .section5 {
        background-color: black;
        color: white;
        padding: 10vh 10% 8vh 10%;
        position: relative;

        div:nth-of-type(1) {

            p:nth-of-type(1) {
                font-size: 1.6rem;
                font-family: 'WorkSans';
            }

            p:nth-of-type(2) {
                font-size: 3.2rem;
                font-family: 'Lora';
                padding: 8vh 0 5vh 0;
                width: 45%;
            }

            input {
                width: 10%;
                height: 6vh;
                border: 2px solid white;
                background-color: black;
                color: white;
                margin-bottom: 8vh;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }

        article {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div:nth-of-type(1) {

                a img {
                    height: 6vh;
                    width: 15%;
                    padding-bottom: 2vh;
                }

                a:nth-of-type(2) img {
                    margin: 0 3%;
                }

                p:nth-of-type(2) {
                    font-size: 1.6rem;
                    padding-top: 5vh;
                }
            }

            div:nth-of-type(2) {

                img {
                    height: 10vh;
                    padding-right: 10px;
                }

                .redcross {
                    height: 8vh;
                }
            }
        }


    }

    .banner {
        position: relative;


        div {
            font-size: $fz-headlines;
            font-family: 'Lora';
            background-color: white;
            color: black;
            font-weight: 600;
            position: absolute;
            transform-origin: center;
            transform: rotateZ(45deg);
            top: -470px;
            right: -400px;

            p {
                animation: banner 8s infinite;

                span {
                    color: white;
                    text-shadow: 0 0 2px black;
                }

                @keyframes banner {
                    0% {
                        transform: translateX(-20%)
                    }

                    50% {
                        transform: translateX(50%)
                    }

                    100% {
                        transform: translateX(-20%)
                    }
                }
            }
        }
    }
}

@import "./media.scss";